.form{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap:1rem;
    border: 1px solid ;
    border-radius: 10px;
    padding: 2rem;
    color: #fff;
    box-shadow: inset 4px 4px 4px;

}
.input-div{
    position: relative;
}

input[type='email']{
    margin-top: 1rem;
}

input{
    max-width: 90%;
    padding: 10px;  
    font-size: 1rem;  
    outline: none;

}

.eye-icon{
    position: absolute;
    right: 2.2rem;
    top: 50%;
}
.eye-icon ion-icon{
    font-size: 1.2rem;
    background-color: transparent;
}
button{
padding: 10px;
font-size: 1.5rem;
outline: none;
background: #012232 ;
color: #fff;
cursor: pointer;
transition: 0.3s;
border: none;
border-radius: 10px;
}

button:hover{
    background-color:#0122329c ;
    transform: translateY(-3px);
}

.error{
  background-color: #fdb4c0;  
  padding: 2px;
}