.form{
    margin: 0 auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid ; */
    border-radius: 10px;
    padding: 2rem;
    color: #fff;
    box-shadow: inset 4px 4px 4px;

}

input{
    max-width: 90%;
    padding: 10px;  
    font-size: 1rem;  
    outline: none;

}
button{
padding: 10px;
font-size: 1.5rem;
outline: none;
background: #012232 ;
color: #fff;
cursor: pointer;
transition: 0.3s;
border: none;
}

button:hover{
    background-color:#0122329c ;
    transform: translateY(-3px);
}

.error{
  background-color: #fdb4c0;  
  padding: 2px;
}