.image-card{
    width: 35%;
    /* height: 200px; */
    aspect-ratio: 1;
    position: relative;
    transition: 0.3s;

}
.image-card:hover{
    opacity: 0.5;
    cursor: pointer;
    scale: 1.1;
}
img{
    width: 100%;
    height: 100%;
}

.tags{
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.361);
    color: #fff;

}

@media (max-width:640px) {
  
    .tags{
        font-size: 0.7rem;
    }
}