.image-card{
    width: 200px;
    height: 200px;
    position: relative;
    transition: opacity 0.3s;
    border-radius: 10px;
    overflow: hidden;

}
.image-card:hover{
    opacity: 0.5;
}
img{
    width: 100%;
    height: 100%;
}

.tags{
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: rgba(60, 22, 116, 0.47);
    color: #fff;

}

