.image-card{
    width: 40%;
    /* height: 200px; */
    aspect-ratio: 1;
    position: relative;

}
.image-card:hover{
    opacity: 0.5;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
}

.tags{
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.361);
    color: #fff;

}

@media (max-width:640px) {
    .image-card{
        /* width: 60%; */
    }
}